# SQL Server
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=VotoSeguro2026!

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Docker
ASPNETCORE_URLS=http://+:8080

# Database service users
VOTER_DB_PASSWORD=VoterService2026!@
REFERENDUM_DB_PASSWORD=ReferendumService2026!@
VOTE_DB_PASSWORD=VoteService2026!@

# Internal service URLs
REFERENDUM_SERVICE_URL=http://referendumservice:8080
VOTE_SERVICE_URL=http://voteservice:8080