/* ==========================================================================
   ORGANISMS: SIDEBAR DE NAVEGACIÓN (MENU LEFT)
   ========================================================================== */

.o-sidebar {
    width: 379px;
    height: calc(100vh - 90px);
    background-color: var(--color-bg-page);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 10; 
    padding: 60px 0 30px 0;
    box-sizing: border-box;
}

.o-sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Ítem individual del menú */
.o-sidebar__item {
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    background-color: var(--color-bg-page);
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out; /* Suaviza el cambio del hover */
}

/* EFECTO HOVER: Solo afecta a los botones que NO están activos */
.o-sidebar__item:not(.o-sidebar__item--active):hover {
    background-color: #C1C3C7; /* Oscurece sutilmente el fondo gris */
}

.o-sidebar__item:not(.o-sidebar__item--active):hover .o-sidebar__text {
    color: #333333; /* Cambia levemente el tono del texto */
}

/* Estado Activo / Seleccionado de la pestaña */
.o-sidebar__item--active {
    background-color: #FFFFFF;
}

/* El indicador de color gris en el extremo izquierdo */
.o-sidebar__item--active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--color-muted);
}

.o-sidebar__text {
    font-family: 'AR One Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin-left: 16px;
    transition: color 0.2s ease;
}